/* Overrides for ala-pattern-library */

/* Global
================================= */
body{padding-top:0;}

/* Layout control
================================= */
.padding-bottom-1{padding-bottom: 1em;}.padding-bottom-2{padding-bottom: 2em;}
.padding-right-1{padding-right: 1em;}
.padding-left-1{padding-left: 1em;}
.padding-left-half-1{padding-left: .5em;}
.padding-top-1{padding-top: 1em;}
.margin-bottom-1{margin-bottom:1em;}.margin-bottom-2{margin-bottom:2em;}
.margin-bottom-half-1{margin-bottom: .5em;}
.margin-bottom-quarter-1{margin-bottom: .25em;}
.margin-bottom-none{margin-bottom: 0;}
.margin-none{margin: 0;}
.margin-top-none{margin-top: 0;}
.margin-top-1{margin-top: 1em;}
.margin-top-half-1{margin-top: .5em;}

/* Jumbotron
================================= */
.ala-header{margin-top:0}
.ala-header-pattern{-moz-background-size:cover;-o-background-size:cover;-webkit-background-size:cover; background:url(../img/ala-pattern-feature-1190x440.jpg) no-repeat center top; background-attachment:relative;background-position:center center;background-size:cover;min-height:230px;text-align:center;width:100%;}
.info-hub-banner{margin-top:0;}
.container .jumbotron, .container-fluid .jumbotron {border-radius: 0;}

/* Forms
================================= */
#alafeedbacksubmit input{color:#f26649;background-color:#fff;border-color:#f26649;padding:12px 18px;font-size:16px;line-height:1.33;border-radius:0}
/* .form-control{border-radius:0;padding:18.5px 12px;border:1px solid #999} */

/* Application typography
================================= */
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-bottom:.5rem;font-family:inherit;font-weight:500;line-height:1.1;color:inherit}
p{margin-top:0;margin-bottom:1rem;font-weight:300;line-height:1.6em}
.display-1{font-size:6rem;font-weight:300;line-height:1.1}
.display-2{font-size:5.5rem;font-weight:300;line-height:1.1}
.display-3{font-size:4.5rem;font-weight:300;line-height:1.1}
.display-4{font-size:3.5rem;font-weight:300;line-height:1.1}
.lead{font-size:1.25rem;font-weight:300}
.blockquote{margin-bottom:1rem;font-size:1.25rem}
.list-unstyled{padding-left:0;list-style:none}
dl,ol,ul{margin-top:0;margin-bottom:1rem;font-weight:300;line-height:1.6em}
dd,dt{line-height:1.6em}

/* ALA enhancements to bootstrap-theme.css
================================= */
.btn-default{border-color:#999}
.btn-primary{background-image:-webkit-linear-gradient(top,#f26649 0,#ce573e 100%);background-image:-o-linear-gradient(top,#f26649 0,#ce573e 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#f26649),to(#ce573e));background-image:linear-gradient(to bottom,#f26649 0,#ce573e 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7',endColorstr='#ff265a88',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);background-repeat:repeat-x;border-color:#a94733;background-color:#ce573e}
.btn-primary:hover,.btn-primary:focus{background-color:#ce573e;background-position:0 -15px}
.btn-primary:active,.btn-primary.active{background-color:#ce573e;border-color:#a94733}
.btn-primary.disabled,.btn-primary:disabled,.btn-primary[disabled]{background-color:#999;background-image:none}
.btn-ala{color:#ce573e;text-shadow:0 1px 0 #fff;background-image:-webkit-linear-gradient(top,#fff 0,#f0f0f0 100%);background-image:-o-linear-gradient(top,#fff 0,#f0f0f0 100%);background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f0f0f0));background-image:linear-gradient(to bottom,#fff 0,#f0f0f0 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe0e0e0',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);background-repeat:repeat-x}
.btn-ala:hover,.btn-ala:focus{background-color:#f0f0f0;background-position:0 -15px}
.btn-ala:active,.btn-ala.active{background-color:#f0f0f0;border-color:#dbdbdb}
.btn-ala.disabled,.btn-ala[disabled],fieldset[disabled] .btn-ala,.btn-ala.disabled:hover,.btn-ala[disabled]:hover,fieldset[disabled] .btn-ala:hover,.btn-ala.disabled:focus,.btn-ala[disabled]:focus,fieldset[disabled] .btn-ala:focus,.btn-ala.disabled.focus,.btn-ala[disabled].focus,fieldset[disabled] .btn-ala.focus,.btn-ala.disabled:active,.btn-ala[disabled]:active,fieldset[disabled] .btn-ala:active,.btn-ala.disabled.active,.btn-ala[disabled].active,fieldset[disabled] .btn-ala.active{background-color:#f0f0f0;background-image:none}
